
@font-face {
    font-family: "Space Mono";
    src: url("SpaceMono-Regular.ttf");
}

@font-face {
    font-family: "Space Mono";
    font-weight: bold;
    src: url("SpaceMono-Bold.ttf");
}

@font-face {
    font-family: "Space Mono";
    font-style: italic;
    src: url("SpaceMono-Italic.ttf");
}

@font-face {
    font-family: "Space Mono";
    font-weight: bold;
    font-style: italic;
    src: url("SpaceMono-BoldItalic.ttf");
}
